@import 'reset';

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #212529;
}

.web {
    padding-left: 12%;
    padding-right: 12%;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #212529;
}

p {
    font-weight: 500;
    color: #6C757D;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topSelect {
    display: flex;
    align-items: center;
}

.selectMeun {
    display: flex;
    justify-content: space-between;
    width: 174px;
    margin-left: 48px;
}


span {
    font-weight: 700;
    color: #DEE2E6;
    margin-left: 12px;
    margin-right: 12px;
}


.content {
    margin-top: 32px;
    margin-bottom: 32px;
}

h3 {
    margin-top: 31px;
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
}

.shop {
    display: flex;
    justify-content: space-between;
}

.sideMenu {
    width: 15%;
    margin-right: 24px;

    li {
        margin-bottom: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

.select {
    color: #57A203;

}

.shoesList {
    width: 85%;
}

.shoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 32%;
        margin-bottom: 48px;
    }

    img {
        margin-bottom: 12px;

        &:hover {
            border: 1px solid #212529;
        }
    }
}

h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 4px;
}

.price {
    font-weight: 500;
}

.page {
    display: flex;
    justify-content: center;

    a {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 10px;
    }
}

.pagebox {
    display: flex;
    margin-left: 12px;
    margin-right: 4px;

    a {
        padding: 8px 15px;
        margin-right: 8px;

        &:hover {
            background-color: #F8F9FA;

        }

        &:active {
            background-color: #C0FA73;

        }
    }

    .doubleNumber {
        padding: 8px 10.5px;
    }

}




h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}


.ad {
    display: flex;
    background-color: #E8FEC5;
    align-items: center;
    justify-content: center;
    margin-top: 48px;

    button {
        margin: 24px;
        color: #FFFFFF;
        background-color: #212529;
        border-radius: 4px;
        padding: 12px 24px;
        font-weight: 500;

        &:hover {
            background-color: #495057;

        }
    }
}


footer {
    display: flex;
    flex-direction: column;
    background: #F8F9FA;
}

.footerSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 24px;
}


.copyright {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding-top: 32px;
    border-top: 1px solid #DEE2E6;
    padding-bottom: 64px;
}

.moreShoes {
    margin-top: 48px;
    margin-bottom: 48px;

    h4 {
        margin-bottom: 16px;
    }
}

.moreBox ul {
    display: flex;
    justify-content: space-between;

    li {
        width: 24%;
    }

    p {
        color: #212529;
    }
}

.shoesBox {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
}

.shoesPicture {
    width: 60%;
    margin-right: 24px;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        width: 49%;
        margin-bottom: 8px;
    }
}

.shoesDescribe {
    width: 40%;

    .tagMain {
        color: #212529;
        font-weight: 500;
        margin-left: 0;
    }

    .tag {
        margin-bottom: 12px;
    }
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
}

.price {
    margin-bottom: 16px;
    color: #57A203;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;

    span {
        color: #ADB5BD;
        font-size: 14px;
        font-weight: 400;
        text-decoration: line-through;
    }
}

.shoesStory {
    margin-bottom: 20px;

    p {
        color: #212529;
        margin-bottom: 12px;
        letter-spacing: 0.05em;
    }
}

.color {
    p {
        color: #212529;
        margin-bottom: 8px;
    }

    margin-bottom: 32px;
}

.colorPicture ul {
    display: flex;

    li {
        margin-right: 8px;
    }

    img {
        width: 64px;

        &:hover {
            border: 1px solid #212529;

        }
    }

    p {
        font-weight: 500;
        color: #6C757D;
        letter-spacing: 0.05em;
        text-align: center;
        margin-bottom: 0;
    }

}


.size {
    margin-bottom: 48px;

    p {
        color: #212529;
        margin-bottom: 8px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        p {
            padding: 12px 24px;
            margin-right: 8px;
            border: 1px solid #DEE2E6;
            border-radius: 4px;          
            &:hover {
                border: 1px solid #212529;
            }
        }

        .sold {
            border: 1px solid #DEE2E6;
            color: #DEE2E6;
        }
    }

    .note {
        color: #D74F4F;
        font-size: 14px;
    }
}

.click {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    button {
        text-align: center;
        width: 49%;
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 4px;
    }

    .add {
        color: #212529;
        background-color: #ffffff;
    }

    .book {
        background-color: #212529;
        color: #FFFFFF;
    }

    i {
        margin-right: 8px;
    }
}

.aboutShoes {
    .aboutTitle {
        font-weight: 500;
        color: #212529;
        margin-bottom: 4px;
    }

    li {
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #DEE2E6;
    }
}






// * {
//     outline: 1px solid pink;
// }